In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets
import pandas as pd

# Import Data

In [2]:
df = pd.read_csv("../Resources/heart.csv", sep=";")
df["age"] = (df["age"]/365).apply(np.floor).astype(int)
df.head(20)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,2,51,1,165,64.0,130,70,3,1,0,0,0,1
3,3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,4,47,1,156,56.0,100,60,1,1,0,0,0,0
5,8,60,1,151,67.0,120,80,2,2,0,0,0,0
6,9,60,1,157,93.0,130,80,3,1,0,0,1,0
7,12,61,2,178,95.0,130,90,3,3,0,0,1,1
8,13,48,1,158,71.0,110,70,1,1,0,0,1,0
9,14,54,1,164,68.0,110,60,1,1,0,0,0,0
10,15,61,1,169,80.0,120,80,1,1,0,0,1,0
11,16,51,2,173,60.0,120,80,1,1,0,0,1,0
12,18,40,2,165,60.0,120,80,1,1,0,0,0,0
13,21,54,1,158,78.0,110,70,1,1,0,0,1,0
14,23,39,2,181,95.0,130,90,1,1,1,1,1,0
15,24,45,2,172,112.0,120,80,1,1,0,0,0,1
16,25,58,1,170,75.0,130,70,1,1,0,0,0,0
17,27,45,1,158,52.0,110,70,1,3,0,0,1,0
18,28,47,1,154,68.0,100,70,1,1,0,0,0,0
19,29,59,2,162,56.0,120,70,1,1,1,0,1,0

# Data Preprocessing

In [4]:
cardiodf = df[["age", "gender", "height", "weight", "ap_hi", "ap_lo",
              "cholesterol", "gluc", "smoke", "alco", "active", "cardio"]]
cardiodf.head(20)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,51,1,165,64.0,130,70,3,1,0,0,0,1
3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,47,1,156,56.0,100,60,1,1,0,0,0,0
5,60,1,151,67.0,120,80,2,2,0,0,0,0
6,60,1,157,93.0,130,80,3,1,0,0,1,0
7,61,2,178,95.0,130,90,3,3,0,0,1,1
8,48,1,158,71.0,110,70,1,1,0,0,1,0
9,54,1,164,68.0,110,60,1,1,0,0,0,0
10,61,1,169,80.0,120,80,1,1,0,0,1,0
11,51,2,173,60.0,120,80,1,1,0,0,1,0
12,40,2,165,60.0,120,80,1,1,0,0,0,0
13,54,1,158,78.0,110,70,1,1,0,0,1,0
14,39,2,181,95.0,130,90,1,1,1,1,1,0
15,45,2,172,112.0,120,80,1,1,0,0,0,1
16,58,1,170,75.0,130,70,1,1,0,0,0,0
17,45,1,158,52.0,110,70,1,3,0,0,1,0
18,47,1,154,68.0,100,70,1,1,0,0,0,0
19,59,2,162,56.0,120,70,1,1,1,0,1,0

In [5]:
X = cardiodf.drop("cardio", axis=1)
y = cardiodf["cardio"]
feature_names = X.columns
print(X.shape, y.shape)

(70000, 11) (70000,)

# Train_test_split

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# StandardScaler

In [7]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [8]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)